In [21]:
# range:

In [34]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [25]:
# print

range(0, 10)

In [1]:
x = 10
print(x)

10

In [2]:
type(x)

int

In [3]:
id(x)

140720704823984

In [4]:
x = 20
print(type(x))

<class 'int'>

In [5]:
print(id(x))

140720704824304

In [6]:
# float:

y = 20.5
print(type(y))

<class 'float'>

In [7]:
print(id(y))

1984048145520

In [8]:
y = 30.8
print(type(y))

<class 'float'>

In [9]:
print(id(y))

1984048146192

In [12]:
# complex

a = 4+9j
print(type(a))

<class 'complex'>

In [13]:
print(id(a))

1984050238928

In [14]:
a = 7+10j
print(type(a))

<class 'complex'>

In [15]:
print(id(a))

1984050239120

In [18]:
# Boolean Data types

x = 10
y = 12
# we have already seen for comparision and logical operator

print('x>y is ',x>y)

print('x<y is ',x<y)


print('x>=y is ',x>=y)

print('x!=y is ',x!=y)

x>y is  False
x<y is  True
x>=y is  False
x!=y is  True

In [19]:
x= True
y = False
print(x and y)

False

In [20]:
print(x or y)

True

In [ ]:
# identity, membership operators are also examples for Bolean data types: