In [8]:
# Declaring a variable
x= 10
y = 20
z = x+y
print(z)

30

In [9]:
# String variables can be declared either by using single or double quotes

a = "chandana"

In [10]:
print(a)

chandana

In [11]:
# declaring multiple variables at one shot

x,y,z,p = 20,30,20,"python"

In [12]:
print(p)

python

In [13]:
print(y)

30

In [16]:
# A variable name must start with a letter or the underscore character
_a = "python"
print(_a)

python

In [18]:
# python variables are case sensitive
A = "python"
a = "program"
print(A)

python

In [19]:
print(a)

program

In [20]:
print(A+a)

pythonprogram

In [21]:
# arthematic operators

x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [22]:

# comparision operators
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [23]:
# Logical operators

x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [25]:
"""Python Logical Operators Logical operators are used to combine conditional statements:"""
# conditional statements are 'and , or ,not'

'Python Logical Operators Logical operators are used to combine conditional statements:'

In [26]:
# and
x = 5

print(x > 3 and x < 10)

True

In [27]:
# or
x = 5

print(x > 3 or x < 4)

True

In [28]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [29]:
# Python Identity Operators
"""Identity operators are used to compare the objects, not if they are equal,
but if they are actually the same object, with the same memory location:"""
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [30]:
"""Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:"""


x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [31]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True